<footer class="container">
    <div class="footer-wrapper">
        <p>© 2023</p>
        <ul class="footer-list-wrapper">
            <li><a class="footer-link" href="/">Twitter</a></li>
            <li><a class="footer-link" href="/">LinkedIn</a></li>
            <li><a class="footer-link" href="/">Email</a></li>
            <li><a class="footer-link" href="/">RSS feed</a></li>
            <li><a class="footer-link" href="/">Add to Feedly</a></li>
        </ul>
    </div>
</footer>