<header class="container">
    <div class="nav-wrapper">
        <nav class="main-nav">
            <ul class="nav-list-wrapper">
                <li><a class="nav-link" href="/">Blog</a></li>
                <li><a class="nav-link" href="/about">About</a></li>
                <li><a class="nav-link" href="/newsletter">Newsletter</a></li>
                <figure class="burger-menu">
                    <img src="images/menu.svg">
                </figure>
            </ul>
        </nav>
    </div>
</header>